.navbar-header a{
	border-left: 2px solid white;
	margin-right: 10px;
}
.navbar-header a:last-child{
	border-right: 2px solid white;
}
.navbar-header a:first-child{
	margin-right: 0;
}
.navbar-header a:hover {
	background-image: -webkit-gradient(linear,left top,left bottom,from(#222),to(#3c3c3c));
	background-image: linear-gradient(to bottom,#222 0,#3c3c3c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff3c3c3c', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
}